    :root {
        --primary-color: rgb(238, 75, 43);
        --white-color: #fff;
        --black-color: #000;
        --text-color: #333;
        --border-color: #dbdbdb;

        --header-height: 120px;
        --header__navbar-height: 40px;
        --header__search-height: calc(var(--header-height) - var(--header__navbar-height));
        --header__sort-bar-height: 46px;
    }

    * {
        box-sizing: inherit;
    }

    html {
        font-size: 62.5%;
        line-height: 1.6 rem;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }

    /* Common */

    .r-boder {
        border-right: 1px solid #d4d4d8;
    }

    .grid__row {
        display: flex;  
        flex-wrap: wrap;
        margin-left: -6px;
        margin-right: -6px;
    }

    /* Test */

    .grid__column-2 {
        padding-left: 6px;
        padding-right: 6px;
        width: 16.6667%;
    }

    .grid__column-2-4 {
        padding-left: 6px;
        padding-right: 6px;
        width: 20%;
    }

    .grid__column-3 {
        padding-left: 6px;
        padding-right: 6px;
        width: 33.33333%;
    }

    .grid__column-10 {
        padding-left: 6px;
        padding-right: 6px;
        width: 83.3333%;
    }

    /* Modal */

    .modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        animation: FadeIn ease-in 0.2s;
    }

    .modal__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); 
    }

    .modal__body {
        z-index: 1;
        margin: auto;
        position: relative;
        animation: growth ease-in 0.2s;
    }

    /* Button Style */

    .btn {
        height: 34px;
        min-width: 142px;
        font-size: 1.5rem;
        border: none;
        text-decoration: none;
        border-radius: 2px;
        color: var(--text-color);
        cursor: pointer;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        line-height: 1.6rem;
        background-color: var(--white-color);
    }

    .btn.btn--size-s {
        height: 32px;
        font-size: 1.2rem;
        padding: 8px;
    }

    .btn:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    .btn.btn--primary {
        background-color: var(--primary-color);
        color: var(--white-color);  
    }

    .btn--disable {
        cursor: default;
        background-color: #c3c3c3;
        color: #949494
    } 

    /* Selection */

    .select-input {
        height: 34px;
        background-color: var(--white-color);
        border-radius: 2px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 16px;
        position: relative;
        margin-left: 8px;
    }
    
    .select-input-list {
        z-index: 1;
        position: absolute;
        right: 0;
        left: 0;
        top: 25px;
        background-color: var(--white-color);
        border-radius: 2px;
        list-style: none;
        padding: 8px 0 8px;
        display: none;
        animation: FadeIn ease-in 0.2s;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    .select-input-list::before{
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        height: 5px;
        top: -5px;
    }
    

    .select-input:hover .select-input-list {
        display: block;
    }
    
    .select-input-item {
        padding: 8px 16px;
        cursor: pointer;
    }

    .select-input-link {
        text-decoration: none;
        font-size: 1.5rem;
        color: var(--text-color);
        display: block; 
    }

    .select-input-item:hover .select-input-link {
        color: var(--primary-color);
    }

    .select-input__label {
        font-size: 1.5rem;
        color: var(--text-color);
    }
    
    .select-input-icon {
        font-size: 1.5rem;
    }

    /* Pagination */

    .pagination {
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin-top: 32px;
        margin-bottom: 16px;
        padding-left: 0px;
    }

    .pagination-item {
        padding: 4px 16px;
        margin: 16px;
    }

    .pagination-item__active {
        background-color: var(--primary-color);
        border-radius: 3px;
    }

    .pagination-item__active .pagination-item__link {
        color: var(--white-color);
    }

    .pagination-item__link {
        font-size: 16px;
        text-decoration: none;
        color: #939393;
    }

    /* Footer */

    .footer {
        background-color: #f3f4f6;
        padding-bottom: 32px;
    }

    .footer-info {
        background-color: #f9fafb;
        padding: 40px 0;
        border-top: 3px solid var(--primary-color);
    }

    .pay-img {
        width: 40px;
    }

    .footer__heading {
        font-size: 1.2rem;
        color: #6b7280;
    }

    .footer-list {
        list-style: none;
        padding: 0;
    }
    
    .footer-list-item {
        font-size: 1.2rem;
        color: #6b7280;
        margin: 8px 0;
    }

    .footer-pay-item, .footer-transport-item {
        display: flex;
        align-items:center;
        margin: 4px 0;
    }

    .footer-social-icon {
        font-size: 1.4rem;
        margin-right: 4px;
    }

    .footer-dowload {
        display: flex;
    }

    .footer-dowload-qr {
        width: 80px;
        margin-right: 8px;
    }

    .footer-dowload-app {
        display: block;
    }

    .footer-dowload-app > img {
        width: 80px ;
        margin: 4px 0;
    }

    /* Footer Policy */

    .footer-policy {
    }

    .footer-policy-list {
        display: flex;
        justify-content: center;
    }

    .footer-policy-item {
        margin: 48px 0;
        padding: 0 32px;
        font-size: 1.2rem;
        color: #71717a;
        text-align: center;
    }

    .footer-license {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-license-items {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .footer-license-items > img {
        width: 120px;
        margin: 0 32px;
    }

    .footer-license > span {
        text-align: center;
        font-size: 1.2rem;
        color: #71717a;
    }

    .footer-address {
        display: block;
        margin-top: 24px;
    }

    .footer-address > p {
        font-size: 1.2rem;
        color: #71717a;
        text-align: center;
    }

    /* Animation */

    @keyframes FadeIn {
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes zoomOut {
        from{
            opacity: 0;
            transform: scale(0);
        }        
        to{
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes growth {
        from {
            transform: scale(0.7);
            opacity: 0.7;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }


