.container {
    z-index: -2;
}

/* Commo */
.text-bold {
    font-weight: 400 !important;
}

.white-background {
    background-color: var(--white-color);
}

.main {
    overflow: hidden;
}

/* Header */

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6333 ,#f6422e);
}

.header__navbar {
    height: var(--header__navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon-link:first-child {
    margin-left: 3px;
}

.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 2px solid #f58a6a;
    height: 16px;
    right: -8px;
    top: 0;
}

/* Nav User */

.header__navbar-user {
    position: relative;
}

.header__navbar-user-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:2px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 4px;
}

.header__navbar-user-menu {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--white-color);
    z-index: 1;
    width: 160px;
    padding-left: 0;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 32px) top;
    animation: zoomOut ease-in 0.2s;
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-item {

}

.header__navbar-user-menu::before {
    content: "";
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent ;
    position: absolute;
    top: -32px;
    right: 17px;
    z-index: 0;
}

.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -20px;
    display: block;
    width: 70%;
    height: 20px;
    right: 0;
}

.header__navbar-user-item a {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.header__navbar-user-item a:hover {
    background-color: #f3f4f6;
    color: var(--primary-color);
}
 

/* End Nav User */
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.no-pointer:hover {
    color: var(--white-color);  
    cursor: text;
}

/* QR Code */

.header__download {
    z-index: 2;
    position: absolute;
    top: 150%;
    width: 180px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    display: none;
    animation: FadeIn ease-in-out 0.3s;
}

.header__download::before {
    position: absolute;
    top: -10px;
    content: "";
    width: 100%;
    height: 10px;
    display: block;
}

.header__qr-code {
    width: 100%;
    padding: 8px;
}

.header__download-app {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0 16px 8px 16px;
}

.header__download-app-link > img {
    height: 15px;
}

.header__navbar-item--has-qr:hover .header__download {
    display: block;
}

/* Header Notification */

.header__notify {
    z-index: 3;
    position: absolute;
    top: 150%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: default;
    will-change: opacity, transform;
    transform-origin: calc(100% - 47px) top;
    animation: zoomOut ease-in 0.2s;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent ;
    position: absolute;
    top: -32px;
    right: 17px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
}

.header__navbar-item--have-notify:hover .header__notify {
    display: block;
}

.header__notify-header {
    height: 40px;
}

.header__notify-header h3 {
    color: #aaa;
    font-weight: normal;
    margin: 0 12px;
    line-height: 40px;
    font-size: 1.5rem;
}

.header__notify-list {
    padding: 0;
}

.header__notify-item {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-item-readed {
    background-color: var(--white-color);
}

.header__notify-item:hover {
    background-color: rgba(0, 0, 0, 0.04)
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 14px 0;
}

.header__notify-img {
    width: 48px;
    margin: 0 12px;
    object-fit: contain;
}

.header__notify-info {
    padding-right: 8px;
}

.header__notify-name {
    color: var(--black-color);
    font-size: 1.4rem;
    margin: 0 0 8px 0;
    font-weight: 200px;
}

.header__notify-describe { 
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    margin: 0;
}

.header__notify-footer {
    text-align: center;
    padding: 12px 0;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 12px;
    font-weight: 400px;
}

.header__notify-footer-btn:hover {
    color: var(--primary-color);
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header__sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header__sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sort-item--active {
    border-bottom: 1.5px solid var(--primary-color);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}


/* Modal layout */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 32px;
    overflow: hidden;
}

.auth-form__header {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400px;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__switch-btn:hover {
    opacity: 0.7;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 12px;
    margin-top: 16px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.auth-form__policy {
    margin-top: 18px; 
    text-align: center;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.4;
}

.auth-form__policy-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control--back {
    margin-right: 12px;;
}

.auth-form__social {
   padding: 16px 36px; 
   background-color: #f3f4f6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.auth-form__social-icon {
    font-size: 1.8rem;
    margin-right: 12px;
}

.auth-form__social--facebook {
    background-color: #1e40af;
    color: var(--white-color);
}

.auth-form__social--google {
    background-color: var(--white-color);
    color: #666;
}

.auth-form__social-title {
    margin: 0 30px;
}

.auth-form__help {
    margin-top: 28px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help > a {
    text-decoration: none;
    font-size: 1.4rem;
}

.devide {
    width: 2px;
    background-color: #e5e7eb;
    height: 24px;
    margin: -3px 16px 0; 
}

.auth-form__help-password {
    color: var(--primary-color);
}

.auth-form__help-password:hover {
    opacity: 0.7;
}

.auth-form__help-need-help {
    color: #9ca3af;
}

.auth-form__help-need-help:hover {
    color: #6b7280;
}

/* Header With Search */

.header-with-search {
    height: var(--header__search-height);
    display: flex;
    align-items: center;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 150px;
    margin: 0 48px 8px 12px;
    -webkit-tap-highlight-color: transparent;
}

.header__logo-link {
    text-decoration: none;
}


.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 3px;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history {
    z-index: 2;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    box-shadow: 0 0 5px #9ca3af;
    border-radius: 2px;
    display: none;
    overflow: hidden;
}

.header__search-history::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    top: -2px;
}

.header_search-history-heading {
    margin: 8px 16px;
    font-size: 1.4rem;
    color: #9ca3af;
    font-weight: 500;
}

.header_search-history-list {
    z-index: 1;
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header_search-history-item {
    height: 38px;
}

.header_search-history-item a {
    display: block;
}

.header_search-history-item:hover {
    background-color: #f3f4f6;
}

.header_search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 16px;
    line-height: 38px;
    color: var(--text-color);
}

.header__search-select {
    padding: 4px 0 4px 16px;
    border-left: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
    z-index: 2;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0 8px;  
}

.header__search-button {
    height: 36px;
    margin: 2px;
    background-color: #fb5533;
    border: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-button:hover {
    opacity: 0.8;
}

.header__search-button-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__search-option {
    z-index: 2;
    position: absolute;
    list-style: none;
    right: 0;
    top: 100%;
    width: 130px;
    background-color: var(--white-color); 
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    display: none;
}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
}

.header-search-option-item {
    padding: 8px 8px 8px 16px;
    cursor: pointer;
}

.header-search-option-item:hover {
    background-color: #f4f4f5;
}

.header-search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.header-search-option-item--active i{
    display: inline-block;
}

/* Header Cart */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 24px;
    margin-top: 4px;
    cursor: pointer;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    display: block;
    background-color: var(--white-color);
    padding: 1px 6px;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.2rem;

}

.header__cart-list {
    z-index: 2;
    position: absolute;
    top: calc(100% + 4px);
    right: -6px;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    will-change: opacity, transform;
    transform-origin: calc(100% - 24px) top;
    animation: zoomOut ease-in 0.2s;
    display: none;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 60px 0;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,

.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-cart-img {
    width: 50%;
    display: none
}

.header__cart-list--no-cart-msg {
    display: none;
    margin-top: 16px;
    font-size: 1.4rem;
}

.header__cart-heading {
    text-align: left;
    font-size: 1.4rem;
    color: #9ca3af;
    font-weight: 400;
    margin: 12px;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    padding: 8px 12px;
}

.header__cart-item:hover {
    background-color: #f3f4f6;
}

.header__cart-img {
    width: 54px;
    height: 54px;
    border: 1px solid #e5e7eb;
}

.header__cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    font-size: 1.4rem;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-item-price-container span {
    color: var(--primary-color);
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-des {
    color: #9ca3af;
}

.header__cart-item-delete {
    color: var(--text-color);
    cursor: pointer;
}

.header__cart-item-delete:hover {
    opacity: 0.6;
}

.header__cart-btn--view {
    margin: 16px 12px;
    float: right;
}

/* Container */

.container {
    background-color: #f3f4f6;
}

.app__content {
    padding-top: 28px;
}

/* Category */

.category {
    background-color: var(--white-color);
}

.category-heading {
    margin-top: 0;
    padding: 12px 16px;
    font-size: 1.6rem;
    border-bottom: 1px solid #e5e7eb;
}

.catogory-heading-icon {
    position: relative;
    top: -1px;
    margin-right: 6px;
    font-size: 1.4rem;
}

.category-list {
    list-style: none;
    padding: 0 0 14px 0;
}

.category-item {
    
}

.category-item--active .category-item-link {
    color: var(--primary-color);
}

.category-item--active .category-item-link::before {
    content: "";
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.category-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
    padding: 8px 28px;
    position: relative;
    left: 0;
    transition: left ease-in 0.1s;
}

.category-item-link:hover {
    color: var(--primary-color);
    left: 4px;
}

/* Mobile category */

.mobile-category {
    display: none;
}

.mobile-category__list {
    padding-left: 0;
    display: flex;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-last-of-type(3n) .mobile-category__link {
    background-color:  #ca8a04;
}

.mobile-category__item:nth-last-of-type(3n+1) .mobile-category__link {
    background-color:  #db2777;
}

.mobile-category__item:nth-last-of-type(3n+2) .mobile-category__link {
    background-color: #ea580c;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height)*2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    line-height: 40px;
}

/* Home filter */

.home-filter {
    z-index: -1;
    display: flex;
    padding: 12px 20px;
    background-color: #e5e7eb;
    border-radius: 2px;
}

.home-filter-label {
    font-size: 1.5rem;
    padding-top: 8px;
    margin-right: 8px;
    color: var(--text-color);
}

.home-filter > .btn {
    margin: 0 8px;
    min-width: 100px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    width: 68px;
    height:34px;
    background-color: var(--white-color);
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:hover {
    background-color: #f9fafb;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #e5e7eb;
}

.home-filter__page-btn--disable {
    background-color: #f3f4f6;
    cursor: default;
}

.home-filter__page-btn--disable:hover {
    background-color: #f3f4f6;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #d1d5db;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.5rem;
    color: var(--text-color);
}

/* Product Item */

.app__content {
    padding-bottom: 12px;
}

.home-product {
    z-index: -1;
}

.home-product-item {
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    cursor: pointer;
    transition: all 0.15s ease-in;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: block;
    text-decoration: none;
} 

.home-product-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin: 10px 10px;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-product-item__price__current {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #ef4444;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color: #ccc;
    margin-left: auto;
}

.home-product-item__rating-star {
    color: #facc15;
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.home-product-item__brand {
    font-size: 1.4rem;
}

.home-product-item__origin-name {
    font-size: 1.4rem;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    line-height: 1.6rem;
    color: var(--white-color);
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    display: block;
    border-top: 4px solid #7c2d12;
    border-left: 4px solid transparent;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.home-product-item__favourite i {
    font-size: 1rem;
    margin: 0 4px;
}

.home-product-item__favourite span {
    font-size: 1.2rem;
    font-weight: 500;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 40px;
    background-color: #fcd34d;
    text-align: center;
    padding-top: 4px;
}

.home-product-item__sale-off::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    border-width: 0 20px 8px;
    border-style: solid;
    border-color: transparent #fcd34d;
}

.home-product-item__sale-off-percent {
    
    font-size: 1.3rem;
    color: #ef4444;
    font-weight:600;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight:600;
}


